#hamb-icon {
    margin: 1em;
    width: 40px;
  }
  
 #hamb-icon:after, 
 #hamb-icon:before, 
 #hamb-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }

  /* #nav-icon:hover:before */

.hamb:before {
    transform: translateY(12px) rotate(135deg);
  }
  
.hamb:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  
.hamb div {
    transform: scale(0);
  }